자연수 n이 주어졌을 때, n의 다음 큰 숫자는 다음과 같이 정의 합니다.

조건 1. n의 다음 큰 숫자는 n보다 큰 자연수 입니다.
조건 2. n의 다음 큰 숫자와 n은 2진수로 변환했을 때 1의 갯수가 같습니다.
조건 3. n의 다음 큰 숫자는 조건 1, 2를 만족하는 수 중 가장 작은 수 입니다.
예를 들어서 78(1001110)의 다음 큰 숫자는 83(1010011)입니다.

자연수 n이 매개변수로 주어질 때, n의 다음 큰 숫자를 return 하는 solution 함수를 완성해주세요.

제한 사항

In [1]:
def solution(n):
    answer = one1=0
    tmp=bin(n)
    tmp=tmp[2:]
    length=str(tmp)

    for i in range(len(length)):
        if length[i]=='1': one1+=1

    while True:
        one2=0
        n+=1
        n=bin(n)
        n=n[2:]
        length2=str(n)
        
        for k in range(len(length2)):
            if length2[k]=='1': one2+=1
        if one1 == one2 :
                answer=int(n,2)
                return answer
        n=int(n,2)
        

            

            
    return answer

In [2]:
solution(78)

83

In [3]:
int('1001110', 2)

78

In [4]:
bin=bin(79)
bin=bin[2:]
bin

'1001111'

In [8]:
def solution(n):
    answer = one1=zero1= way=0
    tmp=bin(n)
    tmp=tmp[2:]
    length=str(tmp)

    for i in range(len(length)):
        if length[i]=='1': one1+=1

        while True:
            one2=zero2=0
            
            n+=1
            n=bin(n)
            n=n[2:]
            length2=str(n)
            for i in range(len(length2)):
                if length[i]=='1': one2+=1
                if one1 == one2 : ##비교 위치 문제
                    answer=int(length2, 2)
                    return answer
            
            n=int(n,2)
            


            
    return answer

In [6]:
solution(1)

TypeError: 'str' object is not callable

피보나치 수는 F(0) = 0, F(1) = 1일 때, 1 이상의 n에 대하여 F(n) = F(n-1) + F(n-2) 가 적용되는 수 입니다.

예를들어

F(2) = F(0) + F(1) = 0 + 1 = 1
F(3) = F(1) + F(2) = 1 + 1 = 2
F(4) = F(2) + F(3) = 1 + 2 = 3
F(5) = F(3) + F(4) = 2 + 3 = 5
와 같이 이어집니다.

2 이상의 n이 입력되었을 때, n번째 피보나치 수를 1234567으로 나눈 나머지를 리턴하는 함수, solution을 완성해 주세요.

In [53]:
def solution(n):
    answer = tmp=0
    current = 1;
    previous = 0;

    if n <= 1:
        return n
    
    current = 1
    previous = 0
    
    for i in range(2, n + 1):
        temp = current
        current = current + previous
        previous = temp

    answer=current%1234567
    return current

In [54]:
solution(3)

2

In [51]:
def solution(n):
    if n <= 1:
        return n
    
    current = 1
    previous = 0
    
    for i in range(2, n + 1):
        temp = current
        current = current + previous
        previous = temp
        
    return current

In [52]:
solution(3)

2

### 짝지어 제거하기는, 알파벳 소문자로 이루어진 문자열을 가지고 시작합니다. 먼저 문자열에서 같은 알파벳이 2개 붙어 있는 짝을 찾습니다. 그다음, 그 둘을 제거한 뒤, 앞뒤로 문자열을 이어 붙입니다. 이 과정을 반복해서 문자열을 모두 제거한다면 짝지어 제거하기가 종료됩니다. 문자열 S가 주어졌을 때, 짝지어 제거하기를 성공적으로 수행할 수 있는지 반환하는 함수를 완성해 주세요. 성공적으로 수행할 수 있으면 1을, 아닐 경우 0을 리턴해주면 됩니다.

In [3]:
def solution(s):
    answer = []
    for i in s:
        if not(answer):
            answer.append(i)
        else:
            if(answer[-1] == i):
                answer.pop()
            else:
                answer.append(i)    
    return not(answer)

In [4]:
solution('baabaa')

0